:root {
  --font-family: "Poppins", sans-serif;
  --font-family2: "Rock Salt", cursive;
  --background-color: rgb(36, 36, 36);
  --background-color2: rgb(143, 135, 135);
  --style-text: rgb(62, 62, 62);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}
body {
  background-color: var(--background-color);
  color: rgb(26, 26, 26);
}
.todo__container {
  display: grid;
  width: 70rem;
  height: 65rem;
  border-radius: 1.5rem;
  max-height: 50rem;
  margin: 8rem auto;
  grid-template-columns: 60% 40%;
  overflow-y: none;

  .todo__application {
    background-color: rgb(52, 52, 52);
    display: flex;
    flex-direction: column;
    padding: 2.7rem;
    gap: 1.6rem;
    overflow-y: hidden;
  }
  .todo__right {
    background-color: var(--background-color2);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2.7rem;
    .text-content {
      position: relative;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      span {
        display: block;
        position: absolute;
      }
      .last {
        font-size: 6.9rem;
        font-weight: 500;
        left: 0;
        color: var(--style-text);
      }
      .middle {
        font-size: 4.9rem;
        font-weight: 500;
        left: 6.5rem;
        margin-top: 1rem;
        color: var(--style-text);
      }
      .first {
        font-family: var(--font-family2);
        font-size: 6.5rem;
        left: 7.2rem;
        margin-top: 4.7rem;
        color: rgb(188, 173, 173);
      }
    }
  }
}

.search {
  display: grid;
  grid-template-columns: 1fr 10rem;
  gap: 0.8rem;
  padding-right: 0.7rem;

  .search__input {
    outline: none;
    border: none;
    background-color: var(--background-color2);
    color: rgb(49, 48, 48);
    font-size: 1.75rem;
    font-family: var(--font-family);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    &::placeholder {
      color: rgba(90, 90, 90, 0.906);
      font-size: 1.65rem;
      font-weight: 500;
    }
  }
  .search__button {
    background-color: rgb(170, 93, 93);
    border: none;
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  overflow-y: auto;
  padding-right: 0.7rem;
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: rgb(52, 52, 52);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(74, 73, 73);
    border-radius: 0.5rem;
  }
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    color: rgb(159, 159, 159);
    background-color: rgb(65, 65, 65);
    padding: 0.55rem 0.7rem;
    border-radius: 0.5rem;
    .todo__name {
      cursor: pointer;
    }
    .todo__input {
      background-color: rgb(65, 65, 65);
      border: none;
      border-bottom: 1.3px solid rgb(64, 64, 64);
      font-family: "Poppins", sans-serif;
      font-size: 1.72rem;
      color: rgb(132, 132, 132);
      padding: 0rem 0.2rem;
      outline: none;
    }
    .todo__input-button--save {
      font-size: 1.6rem;
      color: rgb(131, 168, 131);
      cursor: pointer;
    }
    .todo__delete {
      font-size: 1.6rem;
      color: rgba(132, 131, 131, 0.938);
      cursor: pointer;
    }
  }
}
